[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/tmxlite"]
	path = lib/tmxlite
	url = https://github.com/fallahn/tmxlite.git
[submodule "lib/freetype"]
	path = lib/freetype
	url = https://github.com/freetype/freetype.git
